$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$archivo-narrow: 'Archivo Narrow', sans-serif;
$archivo-black: 'Archivo Black', sans-serif;

$purple: #8664FF;
$dark-text: #7B838E;
$green: #28e997;
$babyblue: #15e2e8;
$blue: #4A90E2;

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 17px;
  line-height:1.2;
  @media (max-width: 900px) {
    font-size: 15px;
  }
  @media (max-width: 400px) {
    font-size: 13px;
  }
}
body {
  font-family: $archivo-narrow, 'Helvetica Neue', Helvetica, Arial;
  transition: all .4s .3s ease-in;
  background:$babyblue;
  color:white;
}

html, body{
  height:100%;
}

/* Type will scale with document */
h1 {
  font-weight:700;
  letter-spacing:auto;
}
h2 {
  font-weight:700;
  letter-spacing:auto;
}
h3 {
  margin-bottom:1rem;
  font-size:2rem;
  font-weight:700;
  letter-spacing:auto;
}

img{
  width:100%;
}

a{
  color:$green;
  text-decoration:none;
  transition:400ms;
}
a:hover{
  color:darken($green,10%);
}
a.project-link{
  color:transparentize(black,0.2);
  border-bottom:2px solid rgba(white,0.7);
  padding-bottom:0.2rem;
  &:hover{
    color:transparentize(white,0.2);
    padding-bottom:0.4rem;
    margin-right:1rem;
    border-bottom:2px solid rgba(white,0.1);
  }
}

p{
  font-size:1.2rem;
  margin-bottom:1rem;
}
.xl{
  font-size:1.33rem;
}
.xxl{
  font-size:1.75rem;
}
.purple{
  color:$purple;
}

.container{
  // width:100%;
  // max-width:none;
  @media(min-width:1200px){
    max-width:1200px;
  }
}

.dark-text{
  color:$dark-text;
}

// nav

.nav{
  position:fixed;
  top:0;
  right:0;
  ul{
    background:rgba(white,0.9);
    padding:0.25rem;
  }
  li{
    list-style:none;
    font-size:0.8rem;
    font-weight:bold;
    margin:0.5rem;
    text-transform:uppercase;
  }
  i{
    margin-right:0.5rem;
  }
  a{
    color:$babyblue;
    &:hover{
      color:darken($babyblue,10%);
    }
  }
}

// section: welcome

.welcome{
  background-color: $purple;
  min-height:80%;
  min-height:80vh;
  text-align:center;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}
.shoe-img{
  max-width:120px;
}
.hero-text{
  margin:1rem 0;
  font-size:4.5rem;
  letter-spacing:0.4rem;
}
.sub-header{
  margin:3rem 0 0;
  font-size:1.25rem;
}

// project styles

.project-title{
  font-family:$archivo-black;
  letter-spacing:-0.1rem;
  color:#fff;
}
.desktop-img img{
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}
.desktop-img{
  margin-bottom:2.5rem;
  overflow:hidden;
}
.blur-up {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  // transition: filter 400ms, -webkit-filter 400ms;
  opacity:0.5;
  transition: filter 400ms, opacity 400ms, max-height 400ms;
  max-height:400px;
}
.blur-up.lazyloaded {
  opacity:1.0;
  // -webkit-filter: blur(0);
  filter: blur(0);
  max-height: 2000px;
}

// section: nice track

.nicetrack{
  background:#FD2F90;
}

// modals
body.vanilla-modal .modal-hider {
  position: absolute;
  left: -99999em;
}
.vanilla-modal .modal {
  background-color: transparent;
}
.vanilla-modal .modal ~ body{
  overflow-y:hidden;
}

.project-title{
  font-family:$archivo-black;
  letter-spacing:-0.1rem;
  color:#fff;
}
.modal-title{
  font-family:$archivo-black;
  letter-spacing:-0.1rem;
  color:#fff;
  margin-bottom:4rem;
}

// modal: about

.about{
  background-color:#6EDFF2;
  min-height:100vh;
  color:$dark-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .container.row {
  max-width: 900px;
}
.bio-name{
  font-size:2rem;
}
.bio-pic{
  max-width:140px;
  margin:0 0.5rem 0.5rem 0;
  @media(max-width:550px){
    float:left;
  }
}

// modal: contact

.contact{
  background-color:$green;
  min-height:100vh;
  color:$dark-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .container.row {
  max-width: 900px;
}
input.u-full-width,
textarea.u-full-width{
  @extend p;
  border:0;
  outline:0;
  color:#fff;
  background: darken($green, 10%);
  &:focus{
    border:0;
  }
}
input.u-full-width::placeholder,
textarea.u-full-width::placeholder{
  color:darken($green,20%);
}
input.u-full-width{
  padding:2rem 1rem;
  border:0;
  &:focus{
    border:0;
  }
}
textarea.u-full-width{
  min-height:150px;
  padding:1rem 1rem;
}
input.button-primary{
  font-size:2rem;
  padding:0.75rem 2.25rem;
  line-height:3rem;
  height:auto;
  font-family:$archivo-black;
  letter-spacing:-0.05rem;
  transition:400ms;
  border:none;
}
input[type=submit].button-primary{
  background-color:$blue;
  &:hover{
    background-color:darken($blue,10%)
  }
  &:focus{
    background-color:darken($blue,20%)
  }
}
